.container-page-home {
  margin-bottom: 70px;


  .container-tablee{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .container-table {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: $font-semibold;
  
      h2 {
          border: solid 2px $color-black;
          width: clamp(10rem, 40vw, 87.5rem);
          text-align: center;
          margin-bottom: -0, 5px;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          font-size: clamp(1rem, 1vw, 1rem);
      }
  
      .sc-dmsloy {
          width: clamp(20rem, 40vw, 87.5rem);
          border: solid 2px $color-black;
          border-top: hidden;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          max-height: 650px;
  
          &::-webkit-scrollbar {
              width: 8px;
              height: 10px;
          }
  
          &::-webkit-scrollbar-track {
              background: transparent;
          }
  
          &::-webkit-scrollbar-thumb {
              background-color: $color-gray;
              border-radius: 20px;
          }
  
          .rdt_TableHeadRow {
              font-size: clamp(1.0rem, 1vw, 1rem);
              font-weight: $font-semibold;
              text-align: center;
              width: 100%;
  
              .sc-cseZMA {
                  display: flex;
                  align-items: center;
                  justify-content: center;
  
                  .sc-kDLnty {
                      opacity: 1;
                  }
              }
          }
  
          .rdt_TableRow {
              font-size: clamp(0.875rem, 1vw, 1rem); // Reduzindo o tamanho da fonte das linhas
              font-weight: $font-semibold;
          }
  
          .sc-jqNall {
              .sc-hLljAB {
                  div { 
                      width: 180px; // Reduzindo a largura das células das colunas
                      text-align: center;
                      white-space: normal;
                      padding: 2px;
                      font-size: clamp(0.875rem, 1vw, 1rem);
                  }
              }
          }
  
          .rdt_TableHeadCell {
              padding-top: 5px; // Reduzindo o espaçamento do título das colunas
              padding-bottom: 5px;
          }
      }
    }
    
  
  }

  .container-select {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .image-logo-up {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 128px;

      img {
          width: clamp(6rem, 10vw, 7.688rem);
      }
  }

  .chart-container {
      margin-top: 20px;
  }

  .graph {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 470px;

      .chart-container {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }

      .percentage-table {
          font-family: Arial, sans-serif;

          h4 {
              margin-bottom: 10px;
          }

          table {
              width: 100%;
              border-collapse: collapse;

              th,
              td {
                  border: 1px solid #dddddd;
                  padding: 8px;
                  text-align: left;
              }

              th {
                  background-color: #f2f2f2;
              }

              tr:nth-child(even) {
                  background-color: #f9f9f9;
              }

              tr:hover {
                  background-color: #f2f2f2;
              }
          }
      }
  }
}
